<ion-header>
  <ion-toolbar>
    <ion-title>
      Promise to Pay
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button id="log-out-button" class="log-out-button" (click)="presentLogOutAlert()">Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts$ | async">{{ contact.name }}</ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="addTransaction()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
